[
  {
    "ParameterKey": "KeyName",
    "ParameterValue": "TODO"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "TODO"
  },
  {
    "ParameterKey": "SubnetId",
    "ParameterValue": "TODO,TODO,TODO"
  },
  {
    "ParameterKey": "TaskRoleId",
    "ParameterValue": "TODO"
  }
]